{{#each this}}
  <div class='country_card'>
    <div class='country_info'>
      <h1 class='card_title'>{{name}}</h1>
      <p class='card_text'>столиця: {{capital}}</p>
      <p class='card_text'>кількість населення: {{population}}</p>
      <ul class='list_group'>
        мова
        {{#each languages}}
          <li class='list_group_item'> {{this.name}} </li>
        {{/each}}
      </ul>
    </div>
    <div class='img_flag_country'>
      <img src='{{flag}}' alt='{{name}}' width='400' />
    </div>
  </div>
{{/each}}